# Arquivos compilados
*.class

# Arquivos gerados pelo Maven
target/

# Arquivos gerados pelo Gradle
build/
.gradle/

# Arquivos gerados pelo IntelliJ IDEA
out/
.idea/

# Arquivos gerados pelo Eclipse
bin/
.classpath
.project
.settings/

# Logs e arquivos temporários
/log/
*.log
*.swp

# Diretório de dependências do Maven
/.m2/

# Diretório de dependências do Gradle
/.gradle/
